/* ESTILOS PRINCIPALES */
/* Fuentes: Lovelo & Aileron Regular */
/* Color principal: #051d40 */
/* Color secundario: #56aeff */

/* Logo con BootCoop: http://drive.google.com/uc?export=view&id=1VrTd2NOmrFDsW3fBOPzx0a_RkIYnyFh3 */
/* Logo: http://drive.google.com/uc?export=view&id=1e9ghZwtWgswSg6HKwmHB8be6hDN5y1sb */


html{
    scroll-behavior:smooth;
}

h1 {
  font-size: clamp(26px, 4.75vw, 64px) !important;
  text-align: center;
  padding: 0 8px;
}

.animate__animated {
  animation-duration: 1s; /* Duración de la animación en segundos */
  animation-delay: 0.5s; /* Retraso de la animación en segundos */
}